.delete-icon {
    display: block;
    background-image: url("../img/delete.svg");
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}