.file {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 5px;
  &::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 16px;
    background-image: url("../img/file.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center center;
    vertical-align: middle;
  }

  &__delete {
    display: none;
    background-image: url("../img/delete.svg");
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 20px;
    cursor: pointer;
  }

  &__title {
    &:hover > .file__delete {
      display: block;
    }
  }
}
