.folder {
  list-style-type: none;
  &__li {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    &::before {
      content: "";
      display: inline-block;
      height: 20px;
      width: 20px;
      background-size: 16px;
      background-image: url("../img/folder.svg");
      background-repeat: no-repeat;
      margin-right: 10px;
      background-position: center center;
      vertical-align: middle;
    }

    &:hover > .folder__actions {
      display: block;
    }
  }

  &__link {
    &--active {
      cursor: pointer;
    }

    &--empty {
      opacity: 0.5;
    }
  }

  &__actions {
    display: none;
  }
}
